@use "mixins" as *;

#app, html, body {
  font-size: 23px;
  font-weight: normal;
  line-height: var(--line-height);
  letter-spacing: var(--letter-spacing);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-tap-highlight-color: transparent;
  @include tablet-up {
    font-size: 3.375vw;
  }
  ::selection {
    background: black;
    color: white;
  }
}